<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>MeetYourChampion</title>
</head>
<body>  
    <div class="loader initialLoader">
        <img class="loaderImage" src="https://i.pinimg.com/originals/3f/38/d4/3f38d4d307856a5df9cc5b03951cf738.gif"/>
        <p> Cargando...</p>
    </div>
    <div class="app">
        <div class="loader" v-if="dataisLoading">
            <img class="loaderImage" src="https://i.pinimg.com/originals/3f/38/d4/3f38d4d307856a5df9cc5b03951cf738.gif"/>
            <p> Cargando...</p>
        </div>
        <div class="pageTwo" v-if="isChampionModalOpen">
            <img class="exit" @click="CloseChampionModal()" src="https://icongr.am/feather/x-circle.svg?size=128&color=a57d35" />
            <div v-bind:style="{backgroundImage: 'url('+championInfo.fullimage+')'}" class="fullImage"></div>
            <div class="modalDataWrapper">
                <h1 class="championName"> {{ championInfo.name.toUpperCase() }}</h1>
                <h4 class="championSub"> {{ championInfo.lore }}</h4>
                <h1 class="spellsTitle"> <u> Hechizos </u> </h1>
                <div class="cards">
                    <div v-for="spell in championInfo.spells" class="cardContent">
                        <div class="spellTitleWrapper">
                            <img class="imageSpell" :src="spell.icon"/> 
                            <h3>{{ spell.name.toUpperCase() }}</h3>
                        </div>
                        <p class="spellDescription" v-html="spell.description"></p>
                    </div>
                </div>
                <div class="border"></div>
                <div class="tipsContent">    
                    <h1> <u>Algunos tips a la hora de jugar con este campeón </u> </h1>    
                    <div class="tips"  v-for="tips in championInfo.allytips">
                        <p class="tipText">{{ tips }}</p>
                    </div>    
                </div>
            </div>
        </div>
        <div class="pageOne"> 
            <div class="titles">
                <h1 class="titleOne">MEET YOUR CHAMPION</h1>
                <h3 class="subtitle"> Una web para conocer a todos los campeones del League of Legends y sus caracteristicas.</h3>
            </div>
            <div class="search">
                <img src="https://icongr.am/entypo/magnifying-glass.svg?size=89&color=03101a" class="searchIcon"/>
                <input type="search" v-model="filterChampion" class="filterName">
            </div>
            <div class="champions">
                <div v-for="champion in filteredChampions" class="championBox" @click="selectChampionHandler(champion.id)"> 
                    <div v-bind:style="{backgroundImage: 'url('+champion.thumbImg+')'}" class="imageBox">
                    </div>
                    <p class="name"> {{ champion.name }} </p>
                </div>
            </div>
        </div>   
    </div>
    <footer class="footer">
        <div class="social">
            <a target="_blank" href="https://github.com/MartinaScapola" class="sociaLink"><img src="https://icongr.am/feather/github.svg?size=70&color=03101a" alt="Github" class="icon"></a>
            <a target="_blank" href="https://twitter.com/MarScapola" class="socialLink"><img src="https://icongr.am/feather/twitter.svg?size=70&color=03101a" alt="Twitter" class="icon"></a>
            <a target="_blank" href="https://www.instagram.com/luaailustrada/" class="socialLink"><img src="https://icongr.am/feather/instagram.svg?size=70&color=03101a" alt="Instagram" class="icon"></a>
            <a target="_blank" href="https://www.linkedin.com/in/martinascapola/" class="socialLink"><img src="https://icongr.am/feather/linkedin.svg?size=70&color=03101a" alt="Linkedin" class="icon"></a>
        </div>
        <div class="madeBy">
            <p> made with 🧡 by Lua</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>