@font-face {
    font-family: Friz Quadrata;
    src: url(fonts/FrizQuadrataRegular.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a57d35;
    font-family: Friz Quadrata;
    background-color: #03101a;
}

.pageTwo {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03101a;
    z-index: 1;
}

.pageTwo .exit {
    position: absolute;
    right: 0;
    width: 40px;
    margin: 20px;
}

.pageTwo .fullImage {
    box-shadow: 0px 20px 80px -10px black;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 800px;
    min-height: 100%;
}

.pageTwo .modalDataWrapper {
    flex: 1 1 auto;
    padding: 40px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}

.pageTwo .modalDataWrapper .championName {
    font-size: 30pt;
}

.pageTwo .modalDataWrapper .cards {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin: 30px;
    height: 350px;
    padding: 5px;
    font-size: 10pt;
}

.pageTwo .modalDataWrapper .cards .cardContent {
    width: 25%;
    padding: 10px;
    flex: 1 0 auto;
    margin: 10px;
    background-color: #79643d;
    color:  #03101a;
    border-radius: 10px;
    box-shadow: 0px 20px 30px -15px black;
    transition: background-color 0.3s;
}

.pageTwo .modalDataWrapper .cards .cardContent:hover {
    background-color: #a57d35;
}

.pageOne {
    width: 100%;
    max-width: 800px;
    padding: 30px;
}

.pageOne .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.pageOne .titles .titleOne {
    font-size: 40pt;
    margin-bottom: 0px;
}

.pageOne .titles .subtitle {
    font-weight: lighter;
}

.pageOne .search {
    display:flex;
    justify-content: flex-end;
}

.pageOne .search .searchIcon {
    position: absolute;
    width: 40px;
    padding: 5px;
    margin: 5px 10px 0px 0px;
    opacity: 0.6;
}

.pageOne .search .filterName {
    width: 100%;
    height: 50px;
    font-size: larger;
    outline: 0;
    border:none;
    background-image:none;
    background-color: #80878c;
    box-shadow: 0px 15px 50px -15px #a57d35;
    border-radius: 10px;
    border: 1px solid #a57d35;
    margin-bottom: 30px;
    transition: background-color 0.5s;
}

.pageOne .search .filterName:focus {
    background-color: rgb(204, 204, 204);
}

.pageOne .champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: grey;
}

.pageOne .champions .championBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0px;
}

.pageOne .champions .championBox .imageBox {
    width: 110px;
    height: 110px;
    background-size: cover;
    margin: 5px;
    border: 1px solid #a57d35;
    background-color: grey;
    cursor: pointer;
}

.pageOne .champions .championBox .imageBox:hover {
    background-blend-mode: soft-light;
}

.pageOne .champions .championBox .name {
    flex: 0 0 auto;
    margin: 5px;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #a57d35;
}

.footer .social {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer .social .icon {
    width: 35px;
    margin-right: 40px;
}

.footer .social .socialLink:last-of-type .icon {
    margin: 0;
}

.footer .social .madeBy {
    color: #03101a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}