@font-face {
    font-family: Friz Quadrata;
    src: url(fonts/FrizQuadrataRegular.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a57d35;
    font-family: Friz Quadrata;
    background-color: #03101a;
}

.loader {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #181a1c ;
    z-index: 1;
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loaderImage {
    width: 15%;
}

.pageTwo {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #03101a;
    z-index: 1;
}

.pageTwo .exit {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 40px;
    cursor: pointer;
}

.pageTwo .fullImage {
    box-shadow: 0px 20px 80px -10px black;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 500px;
    min-height: 100%;
    flex: 1 0 auto;
    transition: max-width 1s;
}

.pageTwo .fullImage:hover  {
    max-width: 80%;
}

.pageTwo .fullImage:hover ~ .modalDataWrapper {
    opacity: 0;
}


.pageTwo .modalDataWrapper {
    flex: 1 1 auto;
    padding: 40px;
    align-items: center;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    transition: opacity 1s;
}

.pageTwo .modalDataWrapper .championName {
    font-size: 3.6rem;
    margin-bottom: 0.6rem;
}

.pageTwo .modalDataWrapper .championSub {
    margin-bottom: 5rem;
}

.pageTwo .modalDataWrapper .cards {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin:  0px 30px 30px 30px;
    padding: 30px;
    align-items: flex-start;
    font-size: 10pt;
}

.pageTwo .modalDataWrapper .cards .cardContent {
    width: 25%;
    flex: 1 0 auto;
    margin: 20px;
}

.pageTwo .modalDataWrapper .cards .cardContent .spellTitleWrapper {
    padding: 10px;
    background-color: #a57d35;
    color:  #03101a;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 20px 30px -15px black;
    transition: background-color 0.3s;
}

.pageTwo .modalDataWrapper .cards .cardContent .spellTitleWrapper:hover {
    background-color: #79643d;
}

.pageTwo .modalDataWrapper .cards .cardContent .imageSpell {
    width: 64px;
    border-radius: 10px;
}

.pageTwo .modalDataWrapper .cards .cardContent .spellDescription {
    text-align: left;
    font-size: 1rem;
}

.border {
    width: 80%;
    margin-left: 10%;
    border: 1px solid #a57d35;
    margin-bottom: 60px;
}
.pageOne {
    width: 100%;
    max-width: 800px;
    padding: 30px;
}

.pageOne .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.pageOne .titles .titleOne {
    font-size: 40pt;
    margin-bottom: 0px;
}

.pageOne .titles .subtitle {
    font-weight: lighter;
}

.pageOne .search {
    display:flex;
    justify-content: flex-end;
}

.pageOne .search .searchIcon {
    position: absolute;
    width: 40px;
    padding: 5px;
    margin: 5px 10px 0px 0px;
    opacity: 0.6;
}

.pageOne .search .filterName {
    width: 100%;
    height: 50px;
    font-size: larger;
    outline: 0;
    border:none;
    background-image:none;
    background-color: #80878c;
    box-shadow: 0px 15px 50px -15px #a57d35;
    border-radius: 10px;
    border: 1px solid #a57d35;
    margin-bottom: 30px;
    transition: background-color 0.5s;
}

.pageOne .search .filterName:focus {
    background-color: rgb(204, 204, 204);
}

.pageOne .champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: grey;
}

.pageOne .champions .championBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0px;
}

.pageOne .champions .championBox .imageBox {
    width: 110px;
    height: 110px;
    background-size: cover;
    margin: 5px;
    border: 1px solid #a57d35;
    background-color: grey;
    cursor: pointer;
}

.pageOne .champions .championBox .imageBox:hover {
    background-blend-mode: soft-light;
}

.pageOne .champions .championBox .name {
    flex: 0 0 auto;
    margin: 5px;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #a57d35;
}

.footer .social {
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer .social .icon {
    width: 35px;
    margin-right: 40px;
}

.footer .social .socialLink:last-of-type .icon {
    margin: 0;
}

.footer .madeBy {
    color: #03101a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 1250px) {
    .pageTwo {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #03101a;
        z-index: 1;
    }

    .pageTwo .exit {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
    }

    .pageTwo .fullImage {
        box-shadow: 0px 20px 80px -10px black;
        background-position: center right;
        max-width: 100%;
        min-height: 30%;
    }

    .pageTwo .fullImage:hover  {
        max-width: 100%;
    }

    .pageTwo .fullImage:hover ~ .modalDataWrapper {
        opacity: 1;
    }

    .pageTwo .modalDataWrapper {
        flex: 1 1 auto;
        padding: 10px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        overflow-y: auto;
        transition: opacity 1s;
    }
    
    .pageTwo .modalDataWrapper .championName {
        font-size: 2.6rem;
        margin-bottom: 0.6rem;
    }

    .pageTwo .modalDataWrapper .championSub {
        margin-bottom: 2rem;
    }
    
    .pageTwo .modalDataWrapper .cards {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        font-size: 1rem;
    }
    .pageTwo .modalDataWrapper .cards .cardContent .spellTitleWrapper {
        background-color: #79643d;
        width: 150%;
    }

    .pageTwo .modalDataWrapper .cards .cardContent .spellDescription {
        text-align: center;
        font-size: 1rem;
    }

    .pageOne .titles .titleOne {
        font-size: 30pt;
        margin-bottom: 0px;
    }
}
